<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />


<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/public/leaflet/leaflet.js"></script>
<script src="/public/underscore.js"></script>
<script src="/public/djikstra.js"></script>
<script src="/public/leaflet/router/leaflet-routing-machine.min.js"></script>

<link rel="stylesheet" type="text/css" href="/public/leaflet/leaflet.css">
<link rel="stylesheet" type="text/css" href="/public/leaflet/router/leaflet-routing-machine.css">


<style type="text/css">
	
	#map
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}

</style>

</head>
<body>



<div id='map'></div>


<script type="text/javascript" src="/public/src/core/index.js"></script>

<script type="text/javascript" src="/public/src/core/routing/router.js"></script>

<script type="text/javascript" src="/public/src/core/geocoding/geocoder.js"></script>

<script type="text/javascript" src="/public/src/core/navigation/navigator.js"></script>

<script type="text/javascript">

	$(function(){


		 CustomMap.init();
	})
	CustomMap.GeoCoder.addMarker();
	CustomMap.Navigator.navigate();
	CustomMap.Router.route();
</script>


</body>
</html>

